/*Partials*/
@import "../base/colores";

@import "../componentes/header";
@import "../componentes/footer";

body{
    background-color: map-get($colores,color-body);
}

@mixin size($max-width,$max-height){
    max-width:$max-width;
    max-height:$max-height;
}
.ImagenContenido_cajas{
    @include size(50%,50%)
}

main {
    div {
        div {
            div{
                font-size: 150%;
                padding-top: 50%;
                text-align: justify;
            }
        }
    }            
}

section{
    div{
        div{
            div{
                h2{
                    button{
                        background-color: map-get($colores,color-barra-light);
                    }
                }
            }
        }
    }

}
.cuerpoSuperior{
    margin-top: 2%;
    margin-bottom: 2%;
}

.accordion-body--fondo{
    
    background-color: map-get($colores,color-fondo-content);
}

@media(max-width: 480px){
    .cuerpoSuperior{
        display: none;
    }
    .cuerpoInferior{
        margin: 5%;
    }
}
@media(max-width:991px){
    main {
        div {
            div {
                div {
                    padding: 0%;
                }    
            }
        }
    }        
}