@import "../base/colores";

header{
    nav{
        background-color: map-get($colores,color-navbar);
        div {
            a{
                &:hover{
                text-decoration: underline;
                }
            }
            
        }
    }
}