@import "../base/colores";

header{
    nav{
        background-color: $color-navbar;
        div {
            a{
                &:hover{
                text-decoration: underline;
                }
            }
            
        }
    }
}