$colores:(
    color-body: beige,
    color-navbar:#decfac,
    color-barra-light: lighten(#decfac, 10%),
    color-fondo-content:lighten(#decfac,15%),
);



/*.acordion__barra--fondo{
    background-color: 
}*/